body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 100%;
}
.App h1{
  text-align: right;
  margin-bottom: 20px;
  padding-right: 1100px; 
}

.graphboard-container {
  text-align: center;
}

.graph-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.graph-section {
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.graph-section > * {
  height: 300px;
  width: 100%;
}
